:root {
    --text-font: 'Georgia', sans-serif;
    --text-font-size: 30px;
    --primary-color: #6ACFC7; /* sarcelle duveteuse */
    --secondary-color: #0C1A1A; /* Vert Cardin */
    --accent-color: #BFA181;
    --text-color: #581845;
    --header-background-color: #FFEBD8;
    --footer-background-color: #FFEBD8;
    --background-color: #B4BAFF;
    --border-color: #000000;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: var(--text-font);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    position: relative;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 90px;
    padding: 0 40px;
    justify-content: space-between;
    color: var(--header-text-color);
    background-color: var(--header-background-color);
}

footer {
    background: var(--footer-background-color);
}

.header-name {
    display: flex;
    align-items: center;
    font-family: var(--text-font);
    font-size: 20px;
    font-weight: bold;
}

.header-name img {
    width: 50px;
    height: 50px;
    border-radius: 15%;
    border: solid 2px var(--border-color);
    margin-right: 30px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-navigation a {
    text-decoration: none;
    color: var(--text-color);
    padding: 20px;
    font-weight: 1000;
    font-size: 20px;
}

/* Switch Styles */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: .4s;
    border-radius: 30px;
    border: solid 2px var(--border-color);
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    transition: .4s;
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* Content Styles */
.content {
    background-color: var(--background-color);
    margin: 100px;
    padding: 20px;
    opacity: 0.7;
    display: block;
    text-align: center;
    border-radius: 20px;
    transition: .4s;
}

.content:hover {
    opacity: .9;
}

.content-separator, .footer-separator {
    background-color: var(--text-color);
    height: 2px;
    max-width: 200px;
    margin: 15px auto 20px;
}

.content-title {
    font-size: 30px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
}

.content-main, .content-secondary {
    font-size: 20px;
    font-weight: 1000;
    color: var(--text-color);
    margin-bottom: 20px;
    display: inline-flex;
}

.content-main-1 {
    width: 33%;
    margin: auto;
    height: auto;
}

.content-main-2 {
    width: 33%;
    margin: auto;
    height: auto;
}

.content-main-3 {
    width: 33%;
    margin: auto;
    height: auto;
}

/* Social Styles */
.social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 15px auto;
    vertical-align: center;
}

.social a {
    text-decoration: none;
    font-size: var(--text-font-size);
    display: inline-flex;
    vertical-align: middle;
}

.social img {
    width: 50px;
    height: 50px;
}

/* Footer Styles */
.footer-copyright {
    text-align: center;
    color: var(--footer-text-color);
    font-size: 15px;
    font-weight: 1000;
    margin-bottom: 20px;
}

/* Background Image */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-7.jpg");
    background-size: cover;
    z-index: -1;
}

/* Dark Mode Styles */
body.dark-mode {
    --primary-color: #333;
    --secondary-color: #555;
    --accent-color: #777;
    --text-color: #fff;
    --header-text-color: #fff;
    --footer-text-color: #fff;
    --background-color: #222;
    --header-background-color: #333;
    --footer-background-color: #333;
    --border-color: #fff;
}
