:root {
    --text-font: 'Georgia', sans-serif;
    --text-font-size: 30px;
    --primary-color: #EEE0F0;
    --secondary-color: #BD8BC1;
    --accent-color: #614063;
    --text-color: #432645;
    --background-color: #F4EEF6;
}

body, html{
    margin: 0;
    padding: 0;
    font-family: var(--text-font);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    background-image: url("../img/bg.webp");
    background-size: cover;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 90px;
    padding: 0 40px;
    justify-content: space-between;
    color: var(--text-color);
    background-color: var(--background-color);
}

footer {
    margin-top: 80px;
    background: var(--secondary-color);
}

.header-name{
    display: flex;
    align-items: center;
    font-family: var(--text-font);
    font-size: 20px;
    font-weight: bold;
}

.header-name img{
    width: 50px;
    height: 50px;
    border-radius: 15%;
}

.header-name .header-pfp {
    margin-right: 30px;
}

.header-navigation a {
    text-decoration: none;
    color: var(--text-color);
    padding: 20px;
    font-weight: 1000;
    font-size: 20px;
}

.content {
    background-color: var(--background-color);
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    opacity: 0.7;
    display: block;
    text-align: center;
    border-radius: 20px;
}

.content:hover {
    opacity: 1;
}

.content-separador {
    background-color: var(--text-color);
    height: 2px;
    max-width: 200px;
    margin: 15px auto 20px;
}

.content-title {
    font-size: 30px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
}

.content-main {
    font-size: 20px;
    font-weight: 1000;
    color: var(--text-color);
    margin-bottom: 20px;
    display: inline-flex;
}

.content-secondary {
    font-size: 20px;
    font-weight: 1000;
    color: var(--text-color);
    margin-bottom: 20px;
    display: inline-flex;
}


.social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 15px auto;
    vertical-align: center;
}

.social a {
    text-decoration: none;
    font-size: var(--text-font-size);
    display: inline-flex;
    vertical-align: middle;
}

.social img {
    width: 50px;
    height: 50px;
}

.footer-separador {
    background-color: var(--text-color);
    height: 2px;
    max-width: 30px;
    margin: 15px auto 20px;
}

.footer-copyright {
    text-align: center;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 1000;
    margin-bottom: 20px;
}